    *{

      margin:0;
      padding:010;
    }


    html, body, section, div {
      height: 100%;

    }

    .container {
      display: table;
      height: 100%;
      width: 100%;
    }

    div {
        display: table-cell;
      width: 20%;
        vertical-align: middle;
    }

    .left-half {
      margin: 0;
      text-align: center;
        background: #008CB7;
    }

    .right-half {
      text-overflow: ellipsis;
      color: black;
      width: 100px;
      text-overflow: clip;
      text-align: left;
      vertical-align: text-top;
      padding: 1rem;
        background:  #0FAB86;
    }

